<!-- Vue de la page d'accueil de l'appication -->
<h1>HI <%= params[:id] %> ! WELCOME TO THE GOSSIPS CENTER :</h1>

<!-- Boucle qui parcours tous les gossips -->
<% @gossips.each do |gossip|%>
<!-- Affichage des information de chaques gossips -->
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">AUTHOR : 
            <% @user_first_name = @users.find(gossip.user_id) %>
            <%= @user_first_name.first_name %></h5>
            <p class="card-text"><%= gossip.title %></p>
        </div>
    </div>
<% end %>